#
# Example configuration file for the various Horus Ground Station Utilities
# 
# This configuration file is used by multiple applications with the ground station suite
# including ChaseTracker, HorusGroundStation, and TelemetryUpload
#
# Create a copy of this file as defaults.cfg and edit as appropriate.
#
[User]
# User Callsign for Habitat Uploads (Telemetry and Chase Car position)
callsign = N0CALL
# Cutdown/Ping command password. Max 3 characters!
password = AAA
# Is user a stationary listener?
# True makes the user show up as a radio mast instead of a Car on the Habitat map.
stationary = False

# Settings relating to handling of payload telemetry data.
[Payload]
# Payload Callsign, for uploads to Habitat
# Received binary telemetry is converted to an ASCII sentence, with this callsign.
payload_callsign = HORUSLORA

# Settings relating to send data around the local network
[Interface]
# Where OziPlotter (or OziMux) is running.
# Note: OziPlotter listens on UDP port 8942, OziMux's default input port for LoRa data is 55680
oziplotter_host = 127.0.0.1
oziplotter_port = 8942

# Enable emission of a payload summary packet on receipt of a telemetry frame
enable_payload_summary = True

# This section is used by ChaseTracker and ChaseTracker_NoGUI
[GPS]
# Does what it says on the tin. Helps avoid calls from parents during balloon chases. Units in km/hr.
speed_cap = 110
# GPS Serial Port Setting
# For Windows, use COM1, COM2, etc.
# On linux/OSX, use the /dev/ttyUSB0 or /dev/tty.usbserial device name
serial_port = /dev/ttyUSB0
serial_baud = 57600
# How often to update chasecar position on habhub (seconds)
update_rate = 30

# This section is used by RotatorGUI
[Rotator]
# Rotator Type. This must be either rotctld or pstrotator
rotator_type = pstrotator
#rotator_type = rotctld
# Hostname/port of a machine running rotctld or pstrotator
rotator_hostname = localhost
# Port number for rotctld (TCP) and pstrotator (UDP)
rotctld_port = 4533
pstrotator_port = 12000
# Poll rotator every X seconds for position.
rotator_poll_rate = 5

